@model global::ActiveDirectoryMembershipProvider.Models.ActiveDirectoryUser
@{
    ViewBag.Title = "Authenticated";
}
<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">Authenticated user</div>
    <div class="panel-body">
        Given name: @Model.GivenName
        <br />
        Surname: @Model.Surname
        <br />
        Email: @Model.Email
    </div>
</div>

<form method="POST" action="/Home/Logout">
    <input type="submit" class="btn btn-default" value="Logout" />
</form>